.instute {
    font-family: 'Cormorant';
    font-size: 38px;
    color: #121212;
}

.bed-college {
    font-family: 'Cormorant';
    font-size: 32px;
    color: #121212;
}

.background-image {
    background-image: url('../assets/images/Vector\ 650.png');
    background-repeat: no-repeat;
}

.kaul-institute {
    font-family: 'Cormorant';
    font-size: 24px;
    line-height: 29px;
    color: #2D4A9D;
}

.education-is-power {
    font-family: 'Cormorant';
    font-size: 42px;
    line-height: 51px;
    color: #121212;
}

.welcome {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 700;
    font-size: 38.5px;
    line-height: 51px;
    color: #000000;
}

.institute-picture {
    width: 545.03px;
    height: 310px;
    border: 1px solid #187498;
    border-radius: 10px;
}

.about-sos {
    font-family: 'Cormorant';
    font-weight: 700;
    font-size: 28px;
    display: flex;
    align-items: center;
    color: #2D4A9D;
}

.sos-para {
    font-family: 'Cormorant';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.infructructure {
    font-family: 'Cormorant';
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    text-decoration-line: underline;
    color: #2D4A9D;
}

.infructure-card {
    background: #FFFFFF;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 15px;
}

.gaping {
    margin-right: 40px;
}

.middle-background {
    background: #F9F8F8;
}

.non-infructure-card {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 15px;
}

.gallery-photo {
    width: 500px;
    height: 450px;
    border-radius: 10px;
}

.contact-input {
    width: 319.97px;
    height: 60px;
    background: #F5F5F5;
    border-radius: 10px;
}

.drop-details {
    font-family: 'Cormorant';
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #121212;
}

.submit-button {
    width: 349.96px;
    height: 60px;
    background: #2D4A9D;
    border-radius: 10px;
}

.submit {
    font-family: 'Cormorant';
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.Footer {
    width: 100%;
    background: #2D4A9D;
    color: #FFFF;
}
.margin{
    margin-left: 80px;
}
.margin-right{
    margin-left: 80px;
}
.margin-for-institute{
    margin-top: 100px;
}